.search-bar-container {
  display: flex;
  padding: 10.5px 12px;
  border-radius: var(--corner-radius-16, 16px);
  background: var(--colors-neutral-0, #fff);
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
  margin-bottom: 32px;
}

.search-bar-container:has(input:focus) {
  border-radius: var(--corner-radius-16, 16px);
  background: var(--colors-neutral-0, #fff);
  box-shadow: 0 0 0 3px var(--colors-neutral-100, #f6f8ff), 0 0 0 5px var(--colors-blue-500, #0079ff),
    0 16px 30px -10px rgba(70, 96, 187, 0.2);
}

img,
input {
  margin-right: 8px;
}

input {
  color: var(--neutral-500);
  flex-grow: 1;
  outline: none;
  border: none;
  transition: border-color 0.2s ease;
}

button {
  color: var(--neutral-0);
  display: flex;
  padding: var(--spacing-150) var(--spacing-250);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--radius-10);
  background: var(--blue-500);
  margin-left: auto;
}
