:root {
  color-scheme: light;

  --color-bg-page: var(--neutral-100);
  --color-page-title: var(--neutral-900);
  --color-theme-btn: var(--neutral-500);
  /* --color-search-icon: ; Don't know if I need this */
  --color-txt-primary: var(--neutral-700);
  --color-txt-secondary: var(--neutral-500);
  --color-bg-card: var(--neutral-0);
  --color-social-icon: var(--neutral-900);
}

[data-theme="dark"] {
  color-scheme: dark;
}

#root {
  flex: 1;
  display: flex;
}

#wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-400) var(--spacing-200);
}

body {
  background: var(--color-bg-page);
}
