.profile-card-container {
  height: 100%;
  max-height: 548px;
  border: 1px solid red;
  display: flex;
  padding: var(--spacing-400, 32px) var(--spacing-300, 24px);
  flex-direction: column;
  border-radius: 15px;
  background: var(--colors-neutral-0, #fff);
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.card-header-container {
  display: flex;
  margin-bottom: 24px;
}

.profile-img {
  margin-right: 20px;
}

.info {
  flex: 1;
}

.username {
  color: var(--colors-neutral-700, #2b3442);
  font-feature-settings: "liga" off, "clig" off;
}

.user-tag {
  color: var(--colors-blue-500, #0079ff);
  font-feature-settings: "liga" off, "clig" off;
}

.date-joined {
  color: var(--colors-neutral-500, #4b6a9b);
  font-feature-settings: "liga" off, "clig" off;
}
